openapi: 3.0.0
info:
  contact:
    name: Whapi Support
    email: care@whapi.cloud
    url: https://whapi.cloud/support
  description: Sending and receiving messages using HTTP requests. Fixed price
    with no hidden fees, without limits and restrictions. You will be able to
    send and receive text/media/files/locations/goods/orders/polls messages via
    WhatsApp in private or group chats. Guides and SDK can be found on our
    website.
  title: WhatsApp API
  version: 1.8.7
  termsOfService: https://whapi.cloud/terms
servers:
  - url: https://gate.whapi.cloud
  - url: http://localhost:8000
security:
  - bearerAuth: []
  - tokenAuth: []
tags:
  - name: Channel
    description: The channel is the main entity of the API. It is the entity that
      represents the user's WhatsApp session
  - name: Users
    description: Manage the WhatsApp users related to the channel
  - name: Messages
    description: Manage the messages sent and received by the channel
  - name: Chats
    description: Manage the chats of the channel
  - name: Contacts
    description: Manage the contacts of the channel
  - name: Presences
    description: Contact presence
  - name: Groups
    description: Manage the groups of the channel
  - name: Stories
    description: WhatsApp Statuses (Stories) Functions
  - name: Statuses
    description: WhatsApp View Statuses (ACK) Functions.  Use for checking the view
      status of the group message or story
  - name: Newsletters
    description: WhatsApp Channels Functions (Threads)
  - name: Media
    description: Manage the media of the channel
  - name: Business
    description: WhatsApp Business Functions
  - name: Labels
    description: WhatsApp Labels Functions
  - name: Blacklist
    description: WhatsApp Blacklist Functions
  - name: Communities
    description: WhatsApp Communities Functions
paths:
  /health:
    get:
      tags:
        - Channel
      parameters:
        - $ref: "#/components/parameters/wakeup"
        - $ref: "#/components/parameters/platform"
        - $ref: "#/components/parameters/channel_type"
      responses:
        "200":
          $ref: "#/components/responses/Health"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkHealth
      summary: Check health & launch channel
      description: Allows you to track and get feedback on the operational status of
        the whapi channel (instance). An instance is a connection with a phone
        number that has a WhatsApp account, which will be responsible for
        sending and receiving messages
  /settings:
    get:
      tags:
        - Channel
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: OK
      responses:
        "200":
          $ref: "#/components/responses/GetSettings"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChannelSettings
      summary: Get channel settings
    delete:
      tags:
        - Channel
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Settings already reset
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: resetChannelSettings
      summary: Reset channel settings
    patch:
      tags:
        - Channel
      requestBody:
        $ref: "#/components/requestBodies/UpdateSettings"
      responses:
        "200":
          $ref: "#/components/responses/UpdateSettings"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong settings format
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateChannelSettings
      summary: Update channel settings
      description: If a field is not present in the request, no change is made to that
        setting. For example, if 'proxy' is not sent with the request, the
        existing configuration for 'proxy' is unchanged.
      callbacks:
        incomingWebhook:
          "{$request.body#/webhooks[0].url}":
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebhookPayload"
              responses:
                "200":
                  description: OK
  /settings/events:
    get:
      tags:
        - Channel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Events"
          description: OK
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getAllowedEvents
      summary: Get allowed events
      description: Get a list of specific events that you can be notified about when
        Webhook is configured
  /settings/webhook_test:
    post:
      tags:
        - Channel
      requestBody:
        $ref: "#/components/requestBodies/WebhookTest"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: webhookTest
      summary: Test webhook
      description: For testing webhook.
  /users/login:
    get:
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/wakeup"
        - $ref: "#/components/parameters/Size"
        - $ref: "#/components/parameters/Width"
        - $ref: "#/components/parameters/Height"
        - $ref: "#/components/parameters/ColorLight"
        - $ref: "#/components/parameters/ColorDark"
      responses:
        "200":
          $ref: "#/components/responses/UserLogin"
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Not acceptable for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Render QR failed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUser
      summary: Login user with QR-base64
      description: This method returns an image of the type base64. You can render
        this in a component of the type image that is compatible with the
        language that you use to program. Just like on WhatsApp Web you will
        need to read a QR code to connect to Whapi.Cloud. There are two ways
        that you can do the reading of the QR code. Connect through our
        dashboard panel or Make this experience available within your own
        application.
  /users/login/image:
    get:
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/wakeup"
        - $ref: "#/components/parameters/Size"
        - $ref: "#/components/parameters/Width"
        - $ref: "#/components/parameters/Height"
        - $ref: "#/components/parameters/ColorLight"
        - $ref: "#/components/parameters/ColorDark"
      responses:
        "200":
          $ref: "#/components/responses/Image"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserImage
      summary: Login user with QR-image
      description: This method returns an image. Just like on WhatsApp Web you will
        need to read a QR code to connect to Whapi.Cloud. There are two ways
        that you can do the reading of the QR code. Connect through our
        dashboard panel or Make this experience available within your own
        application.
  /users/login/rowdata:
    get:
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/wakeup"
      responses:
        "200":
          $ref: "#/components/responses/UserLogin"
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Not acceptable for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserRowData
      summary: Login user with QR-rowdata
  /users/login/{PhoneNumber}:
    get:
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/PhoneNumber"
      responses:
        "200":
          $ref: "#/components/responses/AuthCode"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Invalid phone number
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Not acceptable for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Render QR failed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserViaAuthCode
      summary: Get auth code by phone number
      description: This method returns a code that allows you to connect the phone
        number to the API without the need to scan a QR code, simply by entering
        the generated code.
  /users/login/mobile:
    post:
      tags:
        - Users
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestMobileLogin"
        description: Request body for login mobile
        required: true
      responses:
        "200":
          $ref: "#/components/responses/MobileLogin"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Invalid phone number
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Forbidden without a proxy
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Acceptable only for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: A different phone number has been provided. To authorize with a new
            number, please logout and initiate mobile login process again
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Render QR failed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserViaMobile
      summary: Login in whatsapp with phone number
      description: Allows you to register a number on WhatsApp. Requires mandatory use
        of mobile proxies!
  /users/logout:
    post:
      tags:
        - Users
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already logged out
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: logoutUser
      summary: Logout user
  /users/profile:
    get:
      tags:
        - Users
      responses:
        "200":
          $ref: "#/components/responses/UserProfile"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getUserProfile
      summary: User info
      description: The method allows you to get information about your WhatsApp profile
    patch:
      tags:
        - Users
      requestBody:
        content:
          application/json:
            example:
              name: Some Cool Name
              about: Some Cool About
              icon: https://pps.whatsapp.net/v/...
            schema:
              $ref: "#/components/schemas/UserProfileUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserProfileUpdate"
        description: Change user profile
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateUserProfile
      summary: Update user info
      description: This method is responsible for changing the details of your
        WhatsApp profile
  /messages/list:
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/time_from"
        - $ref: "#/components/parameters/time_to"
        - $ref: "#/components/parameters/normal_types"
        - $ref: "#/components/parameters/author"
        - $ref: "#/components/parameters/from_me"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessages
      summary: Get messages
      description: The method contains a list of all received and sent messages in a
        particular chat. Sorting by descending date of message sending.
  /messages/list/{ChatID}:
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/ChatID"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/time_from"
        - $ref: "#/components/parameters/time_to"
        - $ref: "#/components/parameters/normal_types"
        - $ref: "#/components/parameters/author"
        - $ref: "#/components/parameters/from_me"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessagesByChatID
      summary: Get messages by chat ID
      description: The method contains a list of all received and sent messages in a
        particular chat. Sorting by descending date of message sending. You will
        need to specify [Chat
        ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it)
  /messages/text:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderText"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderText"
        description: Message text
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageText
      summary: ðŸ’¬ Send text message
      description: This endpoint will let you send messages to any WhatsApp-enabled
        phone number or to any WhatsApp Group/Channel using your own number
        connected to Whapi.Cloud. Follow the instructions if you want to [format
        text](https://support.whapi.cloud/help-desk/faq/whatsapp-text-formatting),
        [send a emoji](https://support.whapi.cloud/help-desk/sending/send-emoji)
        or [use line
        breaks](https://support.whapi.cloud/help-desk/faq/how-to-send-a-paragraph-line-break).
  /messages/image:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderImage"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderImage"
        description: Message image
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageImage
      summary: ðŸ–¼ Send media-image message
      description: This method is responsible for sending images for chats. The
        requirements for [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/video:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderVideo"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderVideo"
        description: Message video
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageVideo
      summary: ðŸŽ¥ Send media-video message
      description: This method is responsible for sending a video message for chats.
        The requirements for [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/short:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderShort"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderShort"
        description: Message short
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageShort
      summary: ðŸ“¹ Send media-short video message (PTV)
      description: This method is responsible for sending a short video in the circle
        for chats. The requirements for [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/gif:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderGif"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderGif"
        description: Message gif
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageGif
      summary: ðŸŽ¬ Send media-gif message
      description: Method responsible for sending GIFs to your chats through the API
        (The file to be sent must be an MP4)
  /messages/audio:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderAudio"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderAudio"
        description: Message audio
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageAudio
      summary: ðŸŽµ Send media-audio message
      description: This method is responsible for sending audio messages for chats.
        The requirements for [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/voice:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderVoice"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderVoice"
        description: Message voice
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageVoice
      summary: ðŸŽ¤ Send media-voice message
      description: This method is responsible for sending a voice message for chats.
        The requirements for [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document).
        However, there are [some
        nuances](https://support.whapi.cloud/help-desk/sending/overview-of-other-methods-for-sending/send-voice-message)
        when sending voice messages
  /messages/document:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderDocument"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderDocument"
        description: Message document
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageDocument
      summary: ðŸ“‘ Send media-document message
      description: This method is responsible for sending documents for chats. The
        requirements for [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/link_preview:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLinkPreview"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLinkPreview"
        description: Message link preview send parameters
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLinkPreview
      summary: ðŸ“Ž Send link preview message
      description: Method responsible for sending links with customize preview to your
        contacts, it is used to share links so that the user can be redirected
        to a website. Your link must necessarily be in the Body parameter. It is
        important for you to know that [the link is only
        clickable](https://support.whapi.cloud/help-desk/faq/inactive-links-in-whatsapp-messages)
        if the recipient already has your phone number in their contacts, or if
        they start a conversation with you
  /messages/location:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLocation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLocation"
        description: Message location
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLocation
      summary: ðŸ“ Send location message
      description: Method responsible for sending a fixed location to your contacts,
        it is mostly used to send an addressâ€™s location
  /messages/live_location:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLiveLocation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLiveLocation"
        description: Message live location
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLiveLocation
      summary: ðŸ§­ Send live location message
  /messages/contact:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContact"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContact"
        description: Message contact
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageContact
      summary: ðŸ‘¤ Send contact message
      description: Simple and object, this method allows you to send a contact. You
        don't need to have it added to your contacts list, all you have to do is
        fill in the method attributes with the contact information and send. [A
        few ready
        examples](https://support.whapi.cloud/help-desk/sending/overview-of-other-methods-for-sending/send-contact-vcard)
  /messages/contact_list:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContactList"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContactList"
        description: Message contact list
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageContactList
      summary: ðŸ‘¥ Send contact list message
      description: Simple and straightforward, this method allows you to send multiple
        contacts. You don't need to have them in your contacts; just fill the
        method's attributes with the contact information and send. [A few ready
        examples](https://support.whapi.cloud/help-desk/sending/overview-of-other-methods-for-sending/send-contact-vcard)
  /messages/poll:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderPoll"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderPoll"
        description: Message poll
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessagePoll
      summary: ðŸ“Š Send poll message
      description: In this method, you can send poll-type messages. Often, it's the
        polls that replace [the buttons for interactive
        communication](https://support.whapi.cloud/help-desk/hints/how-to-use-polls-as-buttons)
  /messages/interactive:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderInteractive"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderInteractive"
        description: Message interactive
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageInteractive
      summary: ðŸŽ® Send interactive message
      description: This endpoint is responsible for sending messages with buttons. The
        section is constantly updated as the functionality of buttons depends on
        WhatsApp updates. Attention! The functionality of sending messages with
        buttons is not stable! For more information, please visit the [Button
        Status
        topic](https://support.whapi.cloud/help-desk/faq/current-status-of-buttons-on-whatsapp).
  /messages/sticker:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderSticker"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderSticker"
        description: Message sticker
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageSticker
      summary: ðŸŽ­ Send media-sticker message
      description: This method is responsible for sending a sticker message for chats.
        The requirements for [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/story:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderStories"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderStories"
        description: Stories post parameters
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for posting stories
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageStory
      summary: ðŸ‘ï¸â€ðŸ—¨ï¸ Send story message
      description: The method responsible for sending images or texts to your status.
        Remember that statuses disappear after 24 hours. The requirements for
        [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/story/audio:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderStoriesAudio"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderStoriesAudio"
        description: Stories post parameters for audio
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for posting stories
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageStoryAudio
      summary: ðŸŽµï¸ Send story audio message
      description: The method responsible for sending audio to your status. Remember
        that statuses disappear after 24 hours. The requirements for [sending
        all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/story/media:
    post:
      tags:
        - Messages
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderStoriesMedia"
          application/json:
            schema:
              $ref: "#/components/schemas/SenderStoriesMedia"
        description: Media stories post parameters
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for posting stories
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageStoryMedia
      summary: ðŸ–¼ Send story media message
      description: The method responsible for sending images or video to your status.
        Remember that statuses disappear after 24 hours. The requirements for
        [sending all media types are
        identical](https://support.whapi.cloud/help-desk/sending/send-video-audio-image-document)
  /messages/story/text:
    post:
      tags:
        - Messages
        - Stories
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderStoriesText"
        description: Text stories post parameters
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for posting stories
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: It is forbidden to send to this group/recipient
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageStoryText
      summary: ðŸ’¬ Send story text message
      description: The method responsible for sending texts to your status. Remember
        that statuses disappear after 24 hours.
  /messages/media/{MediaMessageType}:
    post:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MediaMessageType"
        - $ref: "#/components/parameters/send_params"
      requestBody:
        $ref: "#/components/requestBodies/UploadMedia"
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMediaMessage
      summary: ðŸ“Ž Send media message
      description: |
        Additional endpoint for easy send media-file as message.
        Use request body as file and inpath parameters for send parameters.
        Media message can be one of the following types:
        - ðŸ“· image
        - ðŸŽ¥ video
        - ðŸŽ¬ gif
        - ðŸŽµ audio
        - ðŸŽ¤ voice
        - ðŸ“„ document
        - ðŸŽ­ sticker
  /messages/{MessageID}:
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessage
      summary: Get message
      description: The method returns a message from any chat by message id.
    post:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardMessage"
        description: Forward message
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for forward message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: forwardMessage
      summary: â†ª Forward message
      description: Simple and straightforward, in this method, you can forward
        messages through the API by providing the messageId of the message you
        want to forward and the phone number of the chat where this messageId is
        located.
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for mark as read message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: markMessageAsRead
      summary: âœ”âœ” Mark message as read
    delete:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteMessage
      summary: âŒ Delete message
      description: Method used to delete a text sent in a chat. You will be able to
        delete a message that you sent as well as a message that was sent by a
        contact. To use this resource you will only need the messageId of the
        message that you want to delete.
  /messages/{MessageID}/reaction:
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReactToMessage"
        description: React to message
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for react to message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: reactToMessage
      summary: ðŸ˜ React to message
      description: In this method you will be able to react to messages that were sent
        or recieved by you. You will need to specify the ID of the message you
        will respond to, as well as [the
        emoji](https://support.whapi.cloud/help-desk/sending/send-emoji)
  /messages/{MessageID}/star:
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Star"
        description: Star message
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for star message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: starMessage
      summary: â­ Star message
  /messages/{MessageID}/pin:
    post:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pin"
        description: Star message
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for star message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: pinMessage
      summary: ðŸ“Œ Pin message
    delete:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for star message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: unpinMessage
      summary: Unpin message
  /chats:
    get:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Chats"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChats
      summary: Get chats
      description: This method is responsible for returning all of your chats. If you
        need to get a profile pic of your contacts or chats, [refer to these
        instructions](https://support.whapi.cloud/help-desk/receiving/http-api/get-a-profile-picture-of-a-chat-or-user).
  /chats/{ChatID}:
    get:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          $ref: "#/components/responses/Chat"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChat
      summary: Get chat
      description: This method is responsible for returning the metadata of a chat.
        Read more about [Chat
        ID](https://support.whapi.cloud/help-desk/faq/chat-id.-what-is-it-and-how-to-get-it)
    delete:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteChat
      summary: âŒ Delete chat
      description: This method is responsible for deleting chats
    post:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveChatRequest"
        description: Request body
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for archive/unarchive chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: archiveChat
      summary: ðŸ—„ Archive/Unarchive chat
      description: This method is responsible for archiving or unarchiving chats
    patch:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchChatRequest"
        description: Request body
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for patch chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: patchChat
      summary: ðŸ“Œ Pin/Unpin chat or ðŸ”‡ Mute/Unmute chat or âœ”âœ” Mark as read/unread chat
      description: This method is responsible for pinning and unpinning, for muting
        and unmuting your chats. Also this method is responsible for performing
        the action of reading an entire chat or marking a chat as unread
  /contacts:
    get:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Contacts"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContacts
      summary: Get contacts
      description: This method is responsible for returning all of your Whatsapp contacts
    post:
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckContactRequest"
            example:
              blocking: wait
              contacts:
                - "{{Recipient-WA-ID}}"
        description: Contact data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for check phones
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkPhones
      summary: Check phones
      description: This method returns whether or not the number has Whatsapp. Batch
        check provisioning is supported, and there is no batch check limit.
        However, an atypical mass check can draw attention to your number, so we
        advise [balancing the check between
        channels](https://support.whapi.cloud/help-desk/faq/checking-if-the-number-has-whatsapp)
  /contacts/{ContactID}:
    get:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/Contact"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContact
      summary: Get contact
      description: This method is responsible for returning all of you contactâ€™s metadata
    post:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContactFromPhonebook"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContactFromPhonebook"
        description: Message contact
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add contact
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendContact
      summary: Send contact
    head:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not registered
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkExist
      summary: Check exist
      description: The method individually checks for a number in WhatsApp without
        additional information
  /contacts/{ContactID}/profile:
    get:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/UserProfile"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for getting user info
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified user not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContactProfile
      summary: Get profile
      description: This method allows you to get profile information (description,
        profile image) by phone number, even if it is not in your contact list
  /presences/me:
    put:
      tags:
        - Presences
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMePresenceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to send online or offline presence
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMePresence
      summary: Send online or offline presence
  /presences/{EntryID}:
    get:
      tags:
        - Presences
      parameters:
        - $ref: "#/components/parameters/EntryID"
      responses:
        "200":
          $ref: "#/components/responses/Presence"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to get presence
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact presence not subscribed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getPresence
      summary: Get presence
    post:
      tags:
        - Presences
      parameters:
        - $ref: "#/components/parameters/EntryID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to subscribe to presence
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found in whatsapp
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact presence already subscribed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: subscribePresence
      summary: Subscribe to presence
    put:
      tags:
        - Presences
      parameters:
        - $ref: "#/components/parameters/EntryID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendPresenceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to send typing or recording presence
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendPresence
      summary: Send typing or recording presence
  /groups:
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Groups"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroups
      summary: Get groups
    post:
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupRequest"
            example:
              subject: <Group Subject>
        description: Group data
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupCreate"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add group
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified participant not found in contacts list
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: createGroup
      summary: Create group
      description: This method is responsible for creating a group with its respective
        participants. Just like WhatsApp you will need to add at least one
        contact to be able to create a group. Due to WhatsApp's anti-spam
        policy, some contacts are not automatically added to the group. [Read
        more
        here](https://support.whapi.cloud/help-desk/groups/add-new-member-to-group)
    put:
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupInvite"
            example:
              invite_code: <invite code>
        description: Group data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewGroup"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for accept invite link
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong invite code
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: acceptGroupInvite
      summary: Accept group invite
      description: Allows you to join a group by knowing its invitation code
  /groups/{GroupID}:
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Group"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroup
      summary: Get group
      description: This method returns the group metadata with all information about
        the group and its participants
    put:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupInfoRequest"
            example:
              subject: <New Group Subject>
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for update group
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateGroupInfo
      summary: Update group info
      description: This method is responsible for changing the name and description of
        a group that already exists
    delete:
      tags:
[...]
