openapi: 3.0.0
info:
  contact:
    name: Whapi Support
    email: care@whapi.cloud
    url: https://whapi.cloud/support
  description: Sending and receiving messages using HTTP requests. Fixed price
    with no hidden fees, without limits and restrictions. You will be able to
    send and receive text/media/files/locations/goods/orders/polls messages via
    WhatsApp in private or group chats. Guides and SDK can be found on our
    website.
  title: WhatsApp API
  version: 1.7.1
  termsOfService: https://whapi.cloud/terms
servers:
  - url: https://gate.whapi.cloud
  - url: http://localhost:8000
security:
  - bearerAuth: []
  - tokenAuth: []
tags:
  - name: Channel
    description: The channel is the main entity of the API. It is the entity that
      represents the user's WhatsApp session
  - name: Users
    description: Manage the WhatsApp users related to the channel
  - name: Messages
    description: Manage the messages sent and received by the channel
  - name: Chats
    description: Manage the chats of the channel
  - name: Contacts
    description: Manage the contacts of the channel
  - name: Presences
    description: Contact presence
  - name: Groups
    description: Manage the groups of the channel
  - name: Stories
    description: WhatsApp Statuses (Stories) Functions
  - name: Statuses
    description: WhatsApp View Statuses (ACK) Functions.  Use for checking the view
      status of the group message or story
  - name: Newsletters
    description: WhatsApp Channels Functions (Threads)
  - name: Media
    description: Manage the media of the channel
  - name: Business
    description: WhatsApp Business Functions
  - name: Labels
    description: WhatsApp Labels Functions
  - name: Blacklist
    description: WhatsApp Blacklist Functions
paths:
  /health:
    get:
      tags:
        - Channel
      parameters:
        - $ref: "#/components/parameters/wakeup"
        - $ref: "#/components/parameters/platform"
        - $ref: "#/components/parameters/channel_type"
      responses:
        "200":
          $ref: "#/components/responses/Health"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkHealth
      summary: Check health & launch channel
  /settings:
    get:
      tags:
        - Channel
      responses:
        "200":
          $ref: "#/components/responses/GetSettings"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChannelSettings
      summary: Get channel settings
    delete:
      tags:
        - Channel
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Settings already reset
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: resetChannelSettings
      summary: Reset channel settings
    patch:
      tags:
        - Channel
      requestBody:
        $ref: "#/components/requestBodies/UpdateSettings"
      responses:
        "200":
          $ref: "#/components/responses/UpdateSettings"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong settings format
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateChannelSettings
      summary: Update channel settings
      description: If a field is not present in the request, no change is made to that
        setting. For example, if 'proxy' is not sent with the request, the
        existing configuration for 'proxy' is unchanged.
      callbacks:
        incomingWebhook:
          "{$request.body#/webhooks[0].url}":
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebhookPayload"
              responses:
                "200":
                  description: OK
  /settings/events:
    get:
      tags:
        - Channel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Events"
          description: OK
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getAllowedEvents
      summary: Get allowed events
  /users/login:
    get:
      tags:
        - Users
      requestBody:
        $ref: "#/components/requestBodies/UserLogin"
      responses:
        "200":
          $ref: "#/components/responses/UserLogin"
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Not acceptable for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Render QR failed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUser
      summary: Login user with QR-base64
  /users/login/image:
    get:
      tags:
        - Users
      requestBody:
        $ref: "#/components/requestBodies/UserLogin"
      responses:
        "200":
          $ref: "#/components/responses/Image"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserImage
      summary: Login user with QR-image
  /users/login/rowdata:
    get:
      tags:
        - Users
      responses:
        "200":
          $ref: "#/components/responses/UserLogin"
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Not acceptable for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserRowData
      summary: Login user with QR-rowdata
  /users/login/{PhoneNumber}:
    get:
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/PhoneNumber"
      responses:
        "200":
          $ref: "#/components/responses/AuthCode"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Invalid phone number
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Not acceptable for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Render QR failed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserViaAuthCode
      summary: Get auth code by phone number
  /users/login/mobile:
    post:
      tags:
        - Users
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestMobileLogin"
        description: Request body for login mobile
        required: true
      responses:
        "200":
          $ref: "#/components/responses/MobileLogin"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Invalid phone number
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Acceptable only for mobile type channel
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Render QR failed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserViaMobile
      summary: Login in whatsapp with phone number
  /users/logout:
    post:
      tags:
        - Users
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already logged out
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: logoutUser
      summary: Logout user
  /users/profile:
    get:
      tags:
        - Users
      responses:
        "200":
          $ref: "#/components/responses/UserProfile"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getUserProfile
      summary: User info
    patch:
      tags:
        - Users
      requestBody:
        content:
          application/json:
            example:
              name: Some Cool Name
              about: Some Cool About
              icon: https://pps.whatsapp.net/v/...
            schema:
              $ref: "#/components/schemas/UserProfileUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserProfileUpdate"
        description: Change user profile
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateUserProfile
      summary: Update user info
  /users/{ContactID}/profile:
    get:
      tags:
        - Users
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/UserProfile"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for getting user info
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified user not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContactProfile
      summary: Contact profile
  /messages/list:
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/time_from"
        - $ref: "#/components/parameters/time_to"
        - $ref: "#/components/parameters/normal_types"
        - $ref: "#/components/parameters/author"
        - $ref: "#/components/parameters/from_me"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessages
      summary: Get messages
  /messages/list/{ChatID}:
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/ChatID"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/time_from"
        - $ref: "#/components/parameters/time_to"
        - $ref: "#/components/parameters/normal_types"
        - $ref: "#/components/parameters/author"
        - $ref: "#/components/parameters/from_me"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessagesByChatID
      summary: Get messages by chat ID
  /messages/text:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderText"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderText"
        description: Message text
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageText
      summary: 💬 Send text message
      description: This endpoint will let you send messages to any WhatsApp-enabled
        phone number or to any WhatsApp Group using your own number connected to
        Whapi.Cloud
  /messages/image:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderImage"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderImage"
        description: Message image
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageImage
      summary: 🖼 Send media-image message
  /messages/video:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderVideo"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderVideo"
        description: Message video
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageVideo
      summary: 🎥 Send media-video message
  /messages/short:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderShort"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderShort"
        description: Message short
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageShort
      summary: 📹 Send media-short video message (PTV)
  /messages/gif:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderGif"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderGif"
        description: Message gif
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageGif
      summary: 🎬 Send media-gif message
  /messages/audio:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderAudio"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderAudio"
        description: Message audio
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageAudio
      summary: 🎵 Send media-audio message
  /messages/voice:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderVoice"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderVoice"
        description: Message voice
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageVoice
      summary: 🎤 Send media-voice message
  /messages/document:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderDocument"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderDocument"
        description: Message document
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageDocument
      summary: 📑 Send media-document message
  /messages/link_preview:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLinkPreview"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLinkPreview"
        description: Message link preview send parameters
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLinkPreview
      summary: 📎 Send link preview message
  /messages/location:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLocation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLocation"
        description: Message location
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLocation
      summary: 📍 Send location message
  /messages/live_location:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLiveLocation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLiveLocation"
        description: Message live location
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLiveLocation
      summary: 🧭 Send live location message
  /messages/contact:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContact"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContact"
        description: Message contact
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageContact
      summary: 👤 Send contact message
  /messages/contact_list:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContactList"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContactList"
        description: Message contact list
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageContactList
      summary: 👥 Send contact list message
  /messages/poll:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderPoll"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderPoll"
        description: Message poll
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessagePoll
      summary: 📊 Send poll message
  /messages/interactive:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderInteractive"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderInteractive"
        description: Message interactive
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageInteractive
      summary: 🎮 Send interactive message
  /messages/sticker:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderSticker"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderSticker"
        description: Message sticker
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageSticker
      summary: 🎭 Send media-sticker message
  /messages/story:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderStories"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderStories"
        description: Stories post parameters
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for posting stories
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageStory
      summary: 👁️‍🗨️ Send story message
  /messages/media/{MediaMessageType}:
    post:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MediaMessageType"
        - $ref: "#/components/parameters/send_params"
      requestBody:
        $ref: "#/components/requestBodies/UploadMedia"
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMediaMessage
      summary: 📎 Send media message
      description: |
        Additional endpoint for easy send media-file as message.
        Use request body as file and inpath parameters for send parameters.
        Media message can be one of the following types:
        - 📷 image
        - 🎥 video
        - 🎬 gif
        - 🎵 audio
        - 🎤 voice
        - 📄 document
        - 🎭 sticker
  /messages/{MessageID}:
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessage
      summary: Get message
    post:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardMessage"
        description: Forward message
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for forward message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: forwardMessage
      summary: ↪ Forward message
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for mark as read message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: markMessageAsRead
      summary: ✔✔ Mark message as read
    delete:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteMessage
      summary: ❌ Delete message
  /messages/{MessageID}/reaction:
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReactToMessage"
        description: React to message
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for react to message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: reactToMessage
      summary: 😍 React to message
  /messages/{MessageID}/star:
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Star"
        description: Star message
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for star message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: starMessage
      summary: ⭐ Star message
  /chats:
    get:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Chats"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChats
      summary: Get chats
  /chats/{ChatID}:
    get:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          $ref: "#/components/responses/Chat"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChat
      summary: Get chat
    delete:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteChat
      summary: ❌ Delete chat
    post:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveChatRequest"
        description: Request body
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for archive/unarchive chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: archiveChat
      summary: 🗄 Archive/Unarchive chat
    patch:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchChatRequest"
        description: Request body
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for patch chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: patchChat
      summary: 📌 Pin/Unpin chat or 🔇 Mute/Unmute chat or ✔✔ Mark as read/unread chat
  /contacts:
    get:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Contacts"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContacts
      summary: Get contacts
    post:
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckContactRequest"
            example:
              blocking: wait
              contacts:
                - "{{Recipient-WA-ID}}"
        description: Contact data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for check phones
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkPhones
      summary: Check phones
  /contacts/{ContactID}:
    get:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/Contact"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContact
      summary: Get contact
    post:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContactFromPhonebook"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContactFromPhonebook"
        description: Message contact
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add contact
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendContact
      summary: Send contact
    head:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not registered
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkExist
      summary: Check exist
  /presences/me:
    put:
      tags:
        - Presences
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMePresenceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to send online or offline presence
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMePresence
      summary: Send online or offline presence
  /presences/{ContactID}:
    get:
      tags:
        - Presences
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/Presence"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to get presence
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact presence not subscribed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getPresence
      summary: Get presence
    post:
      tags:
        - Presences
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to subscribe to presence
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found in whatsapp
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact presence already subscribed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: subscribePresence
      summary: Subscribe to presence
    put:
      tags:
        - Presences
      parameters:
        - $ref: "#/components/parameters/ContactID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendPresenceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization to send typing or recording presence
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendPresence
      summary: Send typing or recording presence
  /groups:
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Groups"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroups
      summary: Get groups
    post:
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupRequest"
            example:
              subject: <Group Subject>
        description: Group data
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add group
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified participant not found in contacts list
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: createGroup
      summary: Create group
    put:
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupInvite"
            example:
              subject: <Group Subject>
        description: Group data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewGroup"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for accept invite link
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong invite code
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: acceptGroupInvite
      summary: Accept group invite
  /groups/{GroupID}:
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Group"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroup
      summary: Get group
    put:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupInfoRequest"
            example:
              subject: <New Group Subject>
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for update group
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateGroupInfo
      summary: Update group info
    delete:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for leave group
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: leaveGroup
      summary: Leave group
  /groups/{GroupID}/invite:
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupInvite"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for create invite link
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroupInvite
      summary: Get group invite
    delete:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete invite link
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: revokeGroupInvite
      summary: Revoke group invite
  /groups/{GroupID}/participants:
    post:
      requestBody:
        $ref: "#/components/requestBodies/ListParticipants"
        required: true
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/ListParticipants"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add participant
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group or participant not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified participant already in group
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: addGroupParticipant
      summary: Add group participant
    delete:
      requestBody:
        $ref: "#/components/requestBodies/ListParticipants"
        required: true
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for remove participant
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group or participant not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: removeGroupParticipant
      summary: Remove group participant
  /groups/{GroupID}/icon:
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Image"
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Group icon not set
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for get group icon
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroupIcon
      summary: Get group icon
    put:
      requestBody:
        $ref: "#/components/requestBodies/UploadImage"
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for set group icon
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: setGroupIcon
      summary: Set group icon
    delete:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete group icon
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteGroupIcon
      summary: Delete group icon
  /groups/{GroupID}/admins:
    delete:
      requestBody:
        $ref: "#/components/requestBodies/ListParticipants"
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for demote group admin
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group or participant not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: demoteGroupAdmin
      summary: Demote group admin
    patch:
      requestBody:
        $ref: "#/components/requestBodies/ListParticipants"
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for promote group admin
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group or participant not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: promoteToGroupAdmin
      summary: Promote to group admin
  /stories:
    get:
      tags:
        - Stories
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/time_from"
        - $ref: "#/components/parameters/time_to"
        - $ref: "#/components/parameters/normal_types"
        - $ref: "#/components/parameters/author"
        - $ref: "#/components/parameters/from_me"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getStories
      summary: Get list of stories
    post:
      tags:
        - Stories
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderStories"
        description: Stories post parameters
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for posting stories
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: createStory
      summary: Create & publish story
  /statuses/{MessageID}:
    get:
      tags:
        - Statuses
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Statuses"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessageViewStatuses
      summary: Get message or story view statuses
  /newsletters:
    get:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Newsletters"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getNewsletters
      summary: Get newsletters
    post:
      tags:
        - Newsletters
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNewsletterRequest"
            example:
              name: <Newsletter Title>
        description: Newsletter data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Newsletter"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add group
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified participant not found in contacts list
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: createNewsletter
      summary: Create newsletter
  /newsletters/find:
    get:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/country_code"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/newsletter_field"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          $ref: "#/components/responses/NewslettersListPaged"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified newsletter not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: findNewsletter
      summary: Find newsletters by filters
  /newsletters/recommended:
    get:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/country_code"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/count"
      responses:
        "200":
          $ref: "#/components/responses/NewslettersListPaged"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified newsletter not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: recommendedNewsletter
      summary: Get recommended newsletters by country
  /newsletters/{NewsletterID}:
    get:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/NewsletterID"
        - $ref: "#/components/parameters/role"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified newsletter not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getNewsletter
      summary: Get newsletter information
    delete:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/NewsletterID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need to be owner of newsletter
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified newsletter not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteNewsletter
      summary: Delete newsletter
  /newsletters/{NewsletterID}/subscription:
    post:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/NewsletterID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified newsletter not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: subscribeNewsletter
      summary: Subscribe to newsletter
    delete:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/NewsletterID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified newsletter not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: unsubscribeNewsletter
      summary: Unsubscribe from newsletter
  /newsletters/{NewsletterID}/messages:
    get:
      tags:
        - Newsletters
      parameters:
        - $ref: "#/components/parameters/NewsletterID"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/before"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified newsletter not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessagesNewsletter
      summary: Get newsletter messages
  /media:
    post:
      requestBody:
        $ref: "#/components/requestBodies/UploadMedia"
      tags:
        - Media
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadMediaResponse"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for upload media
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: uploadMedia
      summary: Upload media
  /media/{MediaID}:
    get:
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/MediaID"
      responses:
        "200":
          $ref: "#/components/responses/Media"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified media not found
[...]
