openapi: 3.0.0
info:
  contact:
    name: Whapi Support
    email: care@whapi.cloud
    url: https://whapi.cloud/support
  description: Send and receive messages using HTTP requests based on the
    unofficial Whatsapp API. Fixed price with no hidden commissions, unlimited
    messages, no message or dialog fees. The user can send and receive text and
    media messages through WhatsApp in private or group chats with the endpoints
    that are created for the user. Moreover, the current status and the screen
    of the session can be retrieved using these endpoints
  title: WhatsApp Unofficial API
  version: 0.1.1
  termsOfService: https://whapi.cloud/terms
servers:
  - url: https://gate.whapi.cloud
  - url: http://localhost:8000
security:
  - bearerAuth: []
  - tokenAuth: []
tags:
  - name: Channel
    description: The channel is the main entity of the API. It is the entity that
      represents the user's WhatsApp session
  - name: Users
    description: Manage the WhatsApp users related to the channel
  - name: Messages
    description: Manage the messages sent and received by the channel
  - name: Chats
    description: Manage the chats of the channel
  - name: Contacts
    description: Manage the contacts of the channel
  - name: Groups
    description: Manage the groups of the channel
  - name: Media
    description: Manage the media of the channel
  - name: Business
    description: WhatsApp Business Functions
paths:
  /health:
    get:
      tags:
        - Channel
      responses:
        "200":
          $ref: "#/components/responses/Health"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkHealth
      summary: Check health
  /settings:
    get:
      tags:
        - Channel
      responses:
        "200":
          $ref: "#/components/responses/GetSettings"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChannelSettings
      summary: Get channel settings
    delete:
      tags:
        - Channel
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Settings already reset
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: resetChannelSettings
      summary: Reset channel settings
    patch:
      tags:
        - Channel
      requestBody:
        $ref: "#/components/requestBodies/UpdateSettings"
      responses:
        "200":
          $ref: "#/components/responses/UpdateSettings"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong settings format
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateChannelSettings
      summary: Update channel settings
      description: If a field is not present in the request, no change is made to that
        setting. For example, if 'proxy' is not sent with the request, the
        existing configuration for 'proxy' is unchanged.
      callbacks:
        incomingWebhook:
          "{$request.body#/webhooks[0].url}":
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebhookEvent"
              responses:
                "200":
                  description: OK
  /users/login:
    get:
      tags:
        - Users
      requestBody:
        $ref: "#/components/requestBodies/UserLogin"
      responses:
        "200":
          $ref: "#/components/responses/UserLogin"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Render QR failed
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUser
      summary: Login user with QR-base64
  /users/login/image:
    get:
      tags:
        - Users
      requestBody:
        $ref: "#/components/requestBodies/UserLogin"
      responses:
        "200":
          $ref: "#/components/responses/Image"
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserImage
      summary: Login user with QR-image
  /users/login/rowdata:
    get:
      tags:
        - Users
      responses:
        "200":
          $ref: "#/components/responses/UserLogin"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already authenticated
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: loginUserRowData
      summary: Login user with QR-rowdata
  /users/logout:
    post:
      tags:
        - Users
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Channel already logged out
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: logoutUser
      summary: Logout user
  /messages/list:
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/time_from"
        - $ref: "#/components/parameters/time_to"
        - $ref: "#/components/parameters/normal_types"
        - $ref: "#/components/parameters/author"
        - $ref: "#/components/parameters/from_me"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessages
      summary: Get messages
  "/messages/list/{ChatID}":
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/ChatID"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/time_from"
        - $ref: "#/components/parameters/time_to"
        - $ref: "#/components/parameters/normal_types"
        - $ref: "#/components/parameters/author"
        - $ref: "#/components/parameters/from_me"
      responses:
        "200":
          $ref: "#/components/responses/Messages"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessagesByChatID
      summary: Get messages by chat ID
  /messages/text:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderText"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderText"
        description: Message text
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageText
      summary: 💬 Send text message
  /messages/image:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderImage"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderImage"
        description: Message image
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageImage
      summary: 🖼 Send media-image message
  /messages/video:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderVideo"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderVideo"
        description: Message video
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageVideo
      summary: 🎥 Send media-video message
  /messages/gif:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderGif"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderGif"
        description: Message gif
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageGif
      summary: 🎬 Send media-gif message
  /messages/audio:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderAudio"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderAudio"
        description: Message audio
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageAudio
      summary: 🎵 Send media-audio message
  /messages/voice:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderVoice"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderVoice"
        description: Message voice
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageVoice
      summary: 🎤 Send media-voice message
  /messages/document:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderDocument"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderDocument"
        description: Message document
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageDocument
      summary: 📑 Send media-document message
  /messages/location:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLocation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLocation"
        description: Message location
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLocation
      summary: 📍 Send location message
  /messages/live_location:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderLiveLocation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderLiveLocation"
        description: Message live location
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageLiveLocation
      summary: 🧭 Send live location message
  /messages/contact:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContact"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContact"
        description: Message contact
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageContact
      summary: 👤 Send contact message
  /messages/contact_list:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContactList"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContactList"
        description: Message contact list
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request body too large
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageContactList
      summary: 👥 Send contact list message
  /messages/interactive:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderInteractive"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderInteractive"
        description: Message interactive
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageInteractive
      summary: 🎮 Send interactive message
  /messages/sticker:
    post:
      tags:
        - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderSticker"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderSticker"
        description: Message sticker
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMessageSticker
      summary: 🎭 Send media-sticker message
  "/messages/media/{MediaMessageType}":
    post:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MediaMessageType"
        - $ref: "#/components/parameters/send_params"
      requestBody:
        $ref: "#/components/requestBodies/UploadMedia"
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for send message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Media with specified id not found
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Request media too large
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Unsupported media type
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendMediaMessage
      summary: 📎 Send media message
      description: |
        Additional endpoint for easy send media-file as message.
        Use request body as file and inpath parameters for send parameters.
        Media message can be one of the following types:
        - 📷 image
        - 🎥 video
        - 🎬 gif
        - 🎵 audio
        - 🎤 voice
        - 📄 document
        - 🎭 sticker
  "/messages/{MessageID}":
    get:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMessage
      summary: Get message
    post:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardMessage"
        description: Forward message
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for forward message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: forwardMessage
      summary: ↪ Forward message
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for mark as read message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: markMessageAsRead
      summary: ✔✔ Mark message as read
    delete:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteMessage
      summary: ❌ Delete message
  "/messages/{MessageID}/reaction":
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReactToMessage"
        description: React to message
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for react to message
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: reactToMessage
      summary: 😍 React to message
  "/messages/{MessageID}/star":
    put:
      tags:
        - Messages
      parameters:
        - $ref: "#/components/parameters/MessageID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Star"
        description: Star message
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for star message
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified message not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: starMessage
      summary: ⭐ Star message
  /chats:
    get:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Chats"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChats
      summary: Get chats
  "/chats/{ChatID}":
    get:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          $ref: "#/components/responses/Chat"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getChat
      summary: Get chat
    delete:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteChat
      summary: ❌ Delete chat
    post:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveChatRequest"
        description: Request body
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for archive/unarchive chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: archiveChat
      summary: 🗄 Archive/Unarchive chat
    patch:
      tags:
        - Chats
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchChatRequest"
        description: Request body
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for patch chat
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified chat not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: patchChat
      summary: 📌 Pin/Unpin chat or 🔇 Mute/Unmute chat or ✔✔ Mark as read/unread chat
  /contacts:
    get:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Contacts"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContacts
      summary: Get contacts
    post:
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckContactRequest"
            example:
              blocking: wait
              contacts:
                - "{{Recipient-WA-ID}}"
        description: Contact data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckContactResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for check phones
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkPhones
      summary: Check phones
  "/contacts/{ContactID}":
    get:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/Contact"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getContact
      summary: Get contact
    post:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SenderContactFromPhonebook"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SenderContactFromPhonebook"
        description: Message contact
        required: true
      responses:
        "201":
          $ref: "#/components/responses/SentMessage"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add contact
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: sendContact
      summary: Send contact
    head:
      tags:
        - Contacts
      parameters:
        - $ref: "#/components/parameters/ContactID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Trial version limit exceeded
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified contact not registered
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: checkExist
      summary: Check exist
  /groups:
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/Groups"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroups
      summary: Get groups
    post:
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupRequest"
            example:
              subject: <Group Subject>
        description: Group data
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewGroup"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for add group
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified participant not found in contacts list
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Too many requests
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: createGroup
      summary: Create group
    put:
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupInvite"
            example:
              subject: <Group Subject>
        description: Group data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewGroup"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for accept invite link
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong invite code
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: acceptGroupInvite
      summary: Accept group invite
  "/groups/{GroupID}":
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Group"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroup
      summary: Get group
    put:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupInfoRequest"
            example:
              subject: <New Group Subject>
        required: true
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for update group
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: updateGroupInfo
      summary: Update group info
    delete:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for leave group
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: leaveGroup
      summary: Leave group
  "/groups/{GroupID}/invite":
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupInvite"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for create invite link
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroupInvite
      summary: Get group invite
    delete:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete invite link
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: revokeGroupInvite
      summary: Revoke group invite
  "/groups/{GroupID}/participants":
    delete:
      requestBody:
        $ref: "#/components/requestBodies/ListParticipants"
        required: true
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for remove participant
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group or participant not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: removeGroupParticipant
      summary: Remove group participant
  "/groups/{GroupID}/icon":
    get:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Image"
        "204":
          description: Group icon not set
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for get group icon
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getGroupIcon
      summary: Get group icon
    put:
      requestBody:
        $ref: "#/components/requestBodies/UploadImage"
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for set group icon
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: setGroupIcon
      summary: Set group icon
    delete:
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for delete group icon
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteGroupIcon
      summary: Delete group icon
  "/groups/{GroupID}/admins":
    delete:
      requestBody:
        $ref: "#/components/requestBodies/ListParticipants"
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for demote group admin
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group or participant not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: demoteGroupAdmin
      summary: Demote group admin
    patch:
      requestBody:
        $ref: "#/components/requestBodies/ListParticipants"
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/GroupID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for promote group admin
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: You do not have permissions for this action
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified group or participant not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: promoteToGroupAdmin
      summary: Promote to group admin
  /media:
    post:
      requestBody:
        $ref: "#/components/requestBodies/UploadMedia"
      tags:
        - Media
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadMediaResponse"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Need channel authorization for upload media
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: uploadMedia
      summary: Upload media
  "/media/{MediaID}":
    get:
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/MediaID"
      responses:
        "200":
          $ref: "#/components/responses/Media"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified media not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getMedia
      summary: Get media
    delete:
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/MediaID"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Wrong request parameters
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: Specified media not found
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: deleteMedia
      summary: Delete media
  /limits:
    get:
      tags:
        - Channel
      responses:
        "200":
          $ref: "#/components/responses/Limits"
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
          description: No limits
        "500":
          $ref: "#/components/responses/Error"
      deprecated: false
      operationId: getLimits
      summary: Get limits
components:
  parameters:
    count:
      name: count
      description: Count of objects to return
      schema:
        type: number
        minimum: 1
        maximum: 500
        default: 100
      in: query
    offset:
      name: offset
      description: Offset of objects to return
      schema:
        type: number
        minimum: 0
      in: query
    time_from:
      name: time_from
      description: Timestamp from which to get objects
      schema:
        type: number
      in: query
    time_to:
      name: time_to
      description: Timestamp up to which to get objects
      schema:
        type: number
      in: query
    normal_types:
      name: normal_types
      description: If false, include system messages
      schema:
        type: boolean
      in: query
    author:
      name: author
      description: To filter by author (Contact ID)
      schema:
        $ref: "#/components/schemas/ContactID"
      in: query
    from_me:
      name: from_me
      description: If true, only return messages sent by the authenticated user. If
        false, only return messages sent by other users.
      schema:
        type: boolean
      in: query
    ChatID:
      name: ChatID
      style: simple
      explode: false
      description: Chat ID
      schema:
        $ref: "#/components/schemas/ChatID"
      in: path
      required: true
    MediaMessageType:
      name: MediaMessageType
      style: simple
      explode: false
      description: Media message type
      schema:
        $ref: "#/components/schemas/MediaMessageType"
      in: path
      required: true
    send_params:
      name: SendParams
      style: form
      explode: true
      description: Send sender parameters via query
      schema:
        $ref: "#/components/schemas/SenderMedia"
      in: query
      required: true
    MessageID:
      name: MessageID
      style: simple
      explode: false
      description: Message ID
      schema:
        $ref: "#/components/schemas/MessageID"
      in: path
      required: true
    ContactID:
      name: ContactID
      style: simple
      explode: false
      description: Contact ID
      schema:
        $ref: "#/components/schemas/ContactID"
      in: path
      required: true
    GroupID:
      name: GroupID
      style: simple
      explode: false
      description: Group ID
      schema:
        $ref: "#/components/schemas/GroupID"
      in: path
      required: true
    MediaID:
      name: MediaID
      style: simple
      explode: false
      description: Media ID
      schema:
        $ref: "#/components/schemas/MediaID"
      in: path
      required: true
  requestBodies:
    UpdateSettings:
      description: New settings
      required: false
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Settings"
          example:
            callback_backoff_delay_ms: 3000
            max_callback_backoff_delay_ms: 900000
            callback_persist: true
            media:
              auto_download:
                - image
                - document
                - audio
            webhooks:
              - url: <Webhook URL, http or https>
                events:
                  - type: ack
                    method: put
                  - type: chat
                    method: put
                mode: method
            on_call_pager: <WA_ID of valid WhatsApp contact>
            pass_through: false
            sent_status: false
    UserLogin:
      description: Parameters for generating QR code
      required: false
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/QRParameters"
          example:
            size: 200
            width: 300
            height: 300
            color_dark: "#000000"
            color_light: "#ffffff"
    UploadMedia:
      content:
        application/pdf:
          schema:
            format: binary
            type: string
        application/msword:
          schema:
            format: binary
            type: string
        application/vnd.ms-powerpoint:
          schema:
            format: binary
            type: string
        application/vnd.ms-excel:
          schema:
            format: binary
            type: string
        text/plain:
          schema:
            format: binary
            type: string
        image/jpeg:
          schema:
            format: binary
            type: string
        image/png:
          schema:
            format: binary
            type: string
        audio/acc:
          schema:
            format: binary
            type: string
        audio/mp4:
          schema:
            format: binary
            type: string
        audio/amr:
          schema:
            format: binary
            type: string
        audio/mpeg:
          schema:
            format: binary
            type: string
        audio/ogg:
          schema:
            format: binary
            type: string
        codecs=opus:
          schema:
            format: binary
            type: string
        video/mp4:
          schema:
            format: binary
            type: string
      required: true
    ListParticipants:
      description: ""
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListParticipantsRequest"
          example:
            participants:
              - <Recipient WA-ID, from Contacts API>
      required: true
    UploadImage:
      content:
        image/jpeg:
          schema:
            format: binary
            type: string
        image/png:
          schema:
            format: binary
            type: string
      required: true
  responses:
    Health:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Health"
      description: OK
    Error:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseError"
      description: Internal Error
    GetSettings:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Settings"
      description: OK
    Success:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseSuccess"
      description: OK
    UpdateSettings:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateSettings"
      description: OK
    UserLogin:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/QR"
      description: OK
    Image:
      content:
        image/png:
          schema:
            type: string
            format: binary
      description: OK
    Messages:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MessagesList"
      description: OK
    SentMessage:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SentMessage"
      description: Created
    Message:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Message"
      description: OK
    Chats:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ChatsList"
      description: OK
    Chat:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Chat"
      description: OK
    Contacts:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ContactsList"
      description: OK
    Contact:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Contact"
      description: OK
    Groups:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GroupsList"
      description: OK
    Group:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Group"
      description: OK
    Media:
      content:
        application/pdf:
          schema:
            format: binary
            type: string
        application/msword:
          schema:
            format: binary
            type: string
        application/vnd.ms-powerpoint:
          schema:
            format: binary
            type: string
        application/vnd.ms-excel:
          schema:
            format: binary
            type: string
        text/plain:
          schema:
            format: binary
            type: string
        image/jpeg:
          schema:
            format: binary
            type: string
        image/png:
          schema:
            format: binary
            type: string
        audio/acc:
          schema:
            format: binary
            type: string
        audio/mp4:
          schema:
            format: binary
            type: string
        audio/amr:
          schema:
            format: binary
            type: string
        audio/mpeg:
          schema:
            format: binary
            type: string
        audio/ogg:
          schema:
            format: binary
            type: string
        codecs=opus:
          schema:
            format: binary
            type: string
        video/mp4:
          schema:
            format: binary
            type: string
      description: OK
    Limits:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Limits"
      description: OK
  schemas:
    ResponseError:
      title: ResponseError
      type: object
      properties:
        error:
          $ref: "#/components/schemas/Error"
      required:
        - error
    WebhookEvent:
      title: Root Type for Webhook-Event
      description: ""
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/WebhookContact"
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        statuses:
          type: array
          items:
            $ref: "#/components/schemas/WebhookStatus"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
    SenderText:
      title: Message text send parameters
      type: object
      required:
        - to
        - body
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/MessagePropsText"
        - properties:
            link_preview:
              $ref: "#/components/schemas/LinkPreview"
            typing_time:
              type: number
              description: Time in seconds to simulate typing
              default: 0
              minimum: 0
        - $ref: "#/components/schemas/Mentions"
        - $ref: "#/components/schemas/ViewOnce"
    SenderImage:
      title: Message image send parameters
      type: object
      required:
        - to
        - media
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/MessagePropsImageOrVideo"
        - $ref: "#/components/schemas/Size"
        - $ref: "#/components/schemas/Mentions"
        - $ref: "#/components/schemas/ViewOnce"
    SenderVideo:
      title: Message video send parameters
      type: object
      required:
        - to
        - media
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/MessagePropsImageOrVideo"
        - $ref: "#/components/schemas/Size"
        - $ref: "#/components/schemas/Mentions"
        - $ref: "#/components/schemas/ViewOnce"
    SenderGif:
      title: Message gif send parameters
      type: object
      required:
        - to
        - media
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/MessagePropsImageOrVideo"
        - $ref: "#/components/schemas/MessagePropsGif"
        - $ref: "#/components/schemas/Size"
        - $ref: "#/components/schemas/ViewOnce"
    SenderAudio:
      title: Message audio send parameters
      type: object
      required:
        - to
        - media
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/MessagePropsAudio"
        - $ref: "#/components/schemas/ViewOnce"
    SenderVoice:
      title: Message voice send parameters
      type: object
      required:
        - to
        - media
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/MessagePropsAudio"
        - $ref: "#/components/schemas/MessagePropsVoice"
        - $ref: "#/components/schemas/ViewOnce"
    SenderDocument:
      title: Message document send parameters
      type: object
      required:
        - to
        - media
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/MessagePropsDocument"
        - $ref: "#/components/schemas/ViewOnce"
    SenderLocation:
      title: Message location send parameters
      type: object
      required:
        - to
        - latitude
        - longitude
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/MessageContentLocation"
    SenderLiveLocation:
      title: Message live location send parameters
      type: object
      required:
        - to
        - latitude
        - longitude
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/MessageContentLocation"
    SenderContact:
      title: Message contact send parameters
      type: object
      required:
        - to
        - vcard
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/MessageContentContact"
    SenderContactList:
      title: Message contact list send parameters
      type: object
      required:
        - to
        - contacts
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/MessageContentContacts"
    SenderInteractive:
      title: Message interactive send parameters
      type: object
      required:
        - to
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/MessagePropsInteractive"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/ViewOnce"
    SenderSticker:
      title: Message sticker send parameters
      type: object
      required:
        - to
        - media
      allOf:
        - $ref: "#/components/schemas/Sender"
        - $ref: "#/components/schemas/SendMedia"
        - $ref: "#/components/schemas/MessagePropsSticker"
        - $ref: "#/components/schemas/Size"
        - $ref: "#/components/schemas/ViewOnce"
    ForwardMessage:
      title: Forward message parameters
      required:
        - to
      type: object
      properties:
        to:
          type: string
          description: Chat ID or phone number where the message will be forwarded
          pattern: ^[\d-]{10,31}(@[\w\.]{1,})?$
        force:
          type: boolean
          description: Force forward message
    ReactToMessage:
      title: React to message
      type: object
      required:
        - emoji
      properties:
        emoji:
          $ref: "#/components/schemas/Emoji"
    Star:
      title: Starred Messages
      type: object
      properties:
        starred:
          type: boolean
          description: Indicates if the message is starred or not
          example: true
    ArchiveChatRequest:
      title: Archive chat request parameters
      type: object
      properties:
        archive:
          type: boolean
          description: Archive or unarchive chat
          example: true
    PatchChatRequest:
      title: Patch chat request parameters
      type: object
      properties:
        pin:
          type: boolean
          description: Pin or unpin chat
          example: true
        mute_until:
          type: integer
          description: Mute chat until. 0 - unmute chat
          example: 0
        mark_unread:
          type: boolean
          description: Mark as unread/read chat
          example: true
    CheckContactRequest:
      title: Check contact request
      required:
        - contacts
      type: object
      properties:
        blocking:
          description: Blocking determines whether the request should wait for the
            processing to complete (synchronous) or not (asynchronous).
          default: no_wait
          enum:
            - no_wait
            - wait
          type: string
        contacts:
          description: Array of contact phone numbers. The numbers can be in any standard
            telephone number format.
          type: array
          items:
            type: string
        force_check:
          description: Force check determines whether the request should check the contact
            even if it is already in the cache.
          default: false
          type: boolean
    CheckContactResponse:
      title: Check contact response
      description: ""
      type: object
      allOf:
        - type: object
          properties:
            contacts:
              type: array
              items:
                $ref: "#/components/schemas/CheckContact"
    SenderContactFromPhonebook:
      title: Message contact from phonebook send parameters
      type: object
      required:
        - to
      allOf:
        - $ref: "#/components/schemas/Sender"
        - properties:
            name:
              description: Name of contact
              type: string
    CreateGroupRequest:
      title: Create group request
      required:
        - subject
      type: object
      allOf:
        - type: object
          properties:
            subject:
              type: string
        - $ref: "#/components/schemas/Participants"
    NewGroup:
      title: New group
      type: object
      required:
        - group_id
      properties:
        group_id:
          $ref: "#/components/schemas/GroupID"
    GroupInvite:
      title: Group invite
      description: ""
      type: object
      required:
        - invite_code
      properties:
        invite_code:
          type: string
    UpdateGroupInfoRequest:
      title: Update group info request
      required:
        - subject
        - description
      type: object
      properties:
        subject:
          type: string
        description:
          type: string
    UploadMediaResponse:
      title: Upload media response
      description: ""
      type: object
      properties:
        media:
          type: array
          items:
            $ref: "#/components/schemas/UploadMedia"
    ContactID:
      type: string
      description: Contact ID
      pattern: ^([\d]{7,15})?$
    ChatID:
      type: string
      description: Chat ID
      pattern: ^[\d-]{10,31}@[\w\.]{1,}$
    GroupID:
      type: string
      description: Group ID
      pattern: ^[\d-]{10,31}@g\.us$
    MediaID:
      type: string
      description: Media ID
      pattern: ^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$
    MediaMessageType:
      type: string
      description: Media message type
      enum:
        - image
        - video
        - gif
        - audio
        - voice
        - document
        - sticker
    MessageID:
      type: string
      description: Message ID
      pattern: ^[0-9A-F]{10,32}$
    SenderMedia:
      title: Sender media
      type: object
      required:
        - to
      allOf:
        - $ref: "#/components/schemas/Sender"
        - oneOf:
            - $ref: "#/components/schemas/MessagePropsImageOrVideo"
            - $ref: "#/components/schemas/MessagePropsGif"
            - $ref: "#/components/schemas/MessagePropsSticker"
            - $ref: "#/components/schemas/MessagePropsDocument"
            - $ref: "#/components/schemas/MessagePropsAudio"
            - $ref: "#/components/schemas/MessagePropsVoice"
        - $ref: "#/components/schemas/Size"
        - $ref: "#/components/schemas/Mentions"
        - $ref: "#/components/schemas/ViewOnce"
    ListParticipantsRequest:
      title: List participants request
      required:
        - participants
      type: object
      allOf:
        - $ref: "#/components/schemas/Participants"
    Settings:
      title: Channel Settings
      type: object
      properties:
        callback_backoff_delay_ms:
          description: Backoff delay for a failed callback in milliseconds This setting is
            used to configure the amount of time the backoff delays before
            retrying a failed callback. The backoff delay increases linearly by
            this value each time a callback fails to get a HTTPS 200 OK
            response. The backoff delay is capped by the
            max_callback_backoff_delay_ms setting.
          default: 3000
          type: number
        max_callback_backoff_delay_ms:
          description: Maximum delay for a failed callback in milliseconds
          default: 900000
          type: number
        callback_persist:
          description: Stores callbacks on disk until they are successfully acknowledged
            by the Webhook or not. Restart required.
          default: true
          type: boolean
        media:
          $ref: "#/components/schemas/MediaSettings"
        webhooks:
          $ref: "#/components/schemas/Webhooks"
        on_call_pager:
          description: Set to valid WhatsApp Group with users who wish to see alerts for
            critical errors and messages.
          type: string
        pass_through:
          description: When true, removes messages from the local database after they are
            delivered to or read by the recipient. When false, saves all
            messages on local storage until they are explicitly deleted. When
            messages are sent, they are stored in a local database. This
            database is used as the application's history. Since the business
            keeps its own history, you can specify whether you want message
            pass_through or not. Restart required.
          default: true
          type: boolean
        sent_status:
          description: Receive a notification that a message is sent to server. When true,
            you will receive a message indicating that a message has been sent.
            If false (default), you will not receive notification.
          default: false
          type: boolean
        proxy:
          description: Set to valid WhatsApp Group with users who wish to see alerts for
            critical errors and messages.
          type: string
    QRParameters:
      title: QR code parameters
      type: object
      properties:
        size:
          type: integer
          description: Size of QR code
          default: 264
        width:
          type: integer
          description: Width of QR code canvas
          default: 300
        height:
          type: integer
          description: Height of QR code canvas
          default: 300
        color_dark:
          type: string
          description: Color of dark pixels
          default: "#122e31"
        color_light:
          type: string
          description: Color of light pixels
          default: "#ffffff"
    Chat:
      title: Chat
      type: object
      required:
        - id
        - type
      properties:
        id:
          $ref: "#/components/schemas/ChatID"
        name:
          type: string
          description: Chat name
          example: Chat name
        type:
          type: string
          description: Chat type
          example: group
          enum:
            - group
            - contact
            - broadcast
        timestamp:
          type: integer
          description: Chat timestamp
          example: 1675964377
        chat_pic:
          type: string
          description: Chat picture URL
          example: https://example.com/photo.jpg
        pin:
          type: boolean
          description: Is chat pinned
          example: true
        mute:
          type: boolean
          description: Is chat muted
          example: true
        mute_until:
          type: integer
          description: Chat mute until
          example: 0
        archive:
          type: boolean
          description: Is chat archived
          example: true
        unread:
          type: integer
          description: Unread messages count
          example: 0
        unread_mention:
          type: boolean
          description: Is chat unread mention
          example: false
        read_only:
          type: boolean
          description: Is chat read only
          example: false
        not_spam:
          type: boolean
          description: Is chat not spam
          example: true
        last_message:
          $ref: "#/components/schemas/Message"
    ChatsList:
      title: List of chats
      type: object
      allOf:
        - type: object
          properties:
            chats:
              $ref: "#/components/schemas/Chats"
        - $ref: "#/components/schemas/Iterator"
    Contact:
      title: WA Contact
      type: object
      properties:
        id:
          type: string
          description: WA ID
        name:
          type: string
          description: Contact title from contact book
        pushname:
          type: string
          description: Account name from WA or WA Business name
        is_business:
          type: boolean
          description: Is a business account
        profile_pic:
          type: string
          description: Profile picture URL
        status:
          type: string
          description: Contact status
      required:
        - id
        - name
    ContactsList:
      title: List of contacts
      type: object
      allOf:
        - type: object
          properties:
            contacts:
              $ref: "#/components/schemas/Contacts"
        - $ref: "#/components/schemas/Iterator"
    Group:
      title: Group
      type: object
      required:
        - id
        - type
        - name
        - participants
      allOf:
        - $ref: "#/components/schemas/Chat"
        - properties:
            name:
              type: string
              description: Group name
              example: Group name
            description:
              type: string
              description: Group description
              example: Group description
            participants:
              type: array
              description: Group participants
              items:
                $ref: "#/components/schemas/Participant"
            created_at:
              type: integer
              description: Group creation timestamp
              example: 1675964377
            created_by:
              $ref: "#/components/schemas/ContactID"
            suspended:
              type: boolean
              description: Is group suspended
              example: false
            terminated:
              type: boolean
              description: Is group terminated
              example: false
            is_parent:
              type: boolean
              description: Is group parent
              example: false
            is_default_subgroup:
              type: boolean
              description: Is group default subgroup
              example: false
    GroupsList:
      title: List of groups
      type: object
      allOf:
        - type: object
          properties:
            groups:
              $ref: "#/components/schemas/Groups"
        - $ref: "#/components/schemas/Iterator"
    Health:
      title: Health response
      type: object
      properties:
        start_at:
          type: number
          description: Date timestamp when channel started on the server.
        uptime:
          type: number
          description: Seconds have passed since the start of the instance.
        status:
          $ref: "#/components/schemas/ChannelStatus"
        user:
          $ref: "#/components/schemas/Contact"
      required:
        - start_at
        - uptime
        - status
    Limits:
      title: Trial limits
      type: object
      properties:
        messages:
          type: integer
          description: Maximum number of messages that can be sent
          example: 100
        chats:
          type: array
          items:
            $ref: "#/components/schemas/ChatID"
          description: List of chat IDs that can be used
        checks:
          type: integer
          description: Maximum number of check phone numbers
          example: 100
      required:
        - messages
        - chats
        - checks
    Message:
      title: Message
      required:
        - id
        - type
        - chat_id
        - from_me
        - timestamp
      type: object
      properties:
        id:
          type: string
          description: Message ID
        type:
          $ref: "#/components/schemas/MessageType"
        subtype:
          type: string
          description: Message subtype
        chat_id:
          type: string
          description: Chat ID
        from:
          description: WhatsApp ID of the sender
          type: string
        from_me:
          type: boolean
          description: Is message from me
        from_name:
          type: string
          description: Pushname of the sender
        timestamp:
          type: number
          description: Message timestamp
        status:
          $ref: "#/components/schemas/MessageStatus"
        text:
          $ref: "#/components/schemas/MessageContentText"
        image:
          $ref: "#/components/schemas/MessageContentImage"
        video:
          $ref: "#/components/schemas/MessageContentVideo"
        gif:
          $ref: "#/components/schemas/MessageContentVideo"
        audio:
          $ref: "#/components/schemas/MessageContentAudio"
        voice:
          $ref: "#/components/schemas/MessageContentAudio"
        document:
          $ref: "#/components/schemas/MessageContentDocument"
        sticker:
          $ref: "#/components/schemas/MessageContentSticker"
        location:
          $ref: "#/components/schemas/MessageContentLocation"
        live_location:
          $ref: "#/components/schemas/MessageContentLiveLocation"
        contact:
          $ref: "#/components/schemas/MessageContentContact"
        contact_list:
          $ref: "#/components/schemas/MessageContentContacts"
        interactive:
          $ref: "#/components/schemas/MessageContentInteractive"
        system:
          $ref: "#/components/schemas/MessageContentSystem"
        order:
          $ref: "#/components/schemas/MessageContentOrder"
        product_items:
          $ref: "#/components/schemas/MessageContentProductItems"
        action:
[...]
